@media only screen and (min-width: 992px) {

    .mahasiswa-container {
        font-family: 'poppins';
    }

    .biodata > h1, .ijazah > h1, .skhun > h1, .choice-1 > h1, .choice-2 > h1, .title-payment > h1, .status > h1 {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .biodata {
        margin-bottom: 40px;
    }

    .status > p {
        margin-bottom: 20px;
    }

    .dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
    }

    .danger {
        background-color: red;
    }

    .warning {
        background-color: yellow;
    }

    .safe {
        background-color: green;
    }

    .payment > p {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }

    .name, .email, .address, .province, .city, .date, .religion {
        display: grid;
        grid-template-areas: 
            'auto auto';
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0 10px 10px;
    }

    .choice-1, .choice-2 {
        padding-top: 20px;
        background-color: #E6EDF0 !important;
    }

    .choice-1 > p, .choice-2 > p {
        padding: 10px 0 10px 0;
    }

    .choices {
        display: grid;
        grid-template-areas: 'auto auto';
    }

    .religion {
        margin-bottom: 20px;
    }

    .document {
        display: grid;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        grid-template-areas: 'auto auto';
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .biodata > div:nth-child(even) {
        background-color: rgb(217, 224, 228);
      }

    .header {
        height: 10vh;
        background-color: #29AB87;
        box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);
    }

    .error {
        /* grid-area: error; */
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgb(255, 153, 153);
        color: black;

    }

    .title-payment > h1 > span {
        color: rgb(139, 143, 145);
        font-size: 14px;
    }

    .information {
        display: grid;
        grid-template-areas:
            'error error'
            'payment status'
            'biodata biodata';
        grid-gap: 20px;
        margin: 3% 10% 0 10%;
        grid-template-columns: repeat(2, 1fr);
    }

    .payment, .status, .biodata {
        box-shadow: 0 4px 12px 0px rgba(0,0,0,.25);

    }

    .payment {
        grid-area: payment;
        padding: 10px;
        
        display: grid;
        grid-template-areas:
            'title-payment title-payment'
            'message message'
            'form view';
        /* grid-template-columns: repeat(2, 1fr);     */
    }

    .payment > .title-payment {
        grid-area: title-payment;
    }

    .header-wrapper {
        display: grid;
        grid-template-areas: 'simpenmaba . . . . . . . . . . out';
        margin: 0 10% 0 10%;
    }

    .header-wrapper > h1 {
        grid-area: simpenmaba;
        font-weight: 700;
        font-size: 24px;
        color: white;
    }

    .header-wrapper > p {
        grid-area: out;
        color: white;
        text-align: center;
        cursor: pointer;
        font-size: 24px;
        transition: all 0.5s;
    }

    .header-wrapper > p:hover {
        /* color: rgb(206, 205, 205); */
        transform: scale(1.1);
    }

    .header-wrapper > h1, .header-wrapper > p {
        margin-top: 20px;
        display: inline-block;
    }

    .title-payment {
        display: grid;
        grid-template-areas:
            'auto auto';
        justify-content: start;
        grid-column-gap: 15px;
    }

    .title-payment > span {
        margin: 12px 0 0 0;
    }

    .payment > p {
        grid-area: message;
    }

    .payment > form {
        grid-area: form;
    }

    .payment > div {
        grid-area: view
    }

    .status {
        grid-area: status;
        padding: 10px;
        /* background-color: black; */
    }

    .biodata {
        grid-area: biodata;
        padding: 10px;
        /* background-color: yellow; */
    }

    .choices > div > h1 {
        grid-area: title;
    }

    .choices > div > p {
        padding-left: 10px;
    }

    .choice-1, .choice-2 {
        display: grid;
        grid-template-areas:
            'title title'
            'auto auto'
            'auto auto';
    }

    .highlight {
        background-color: rgb(217, 224, 228);
    }

    .ijazah > img, .skhun > img, #image-modal{
        width:300px;
        height:400px;
    }

    .payment > p, .status > p {
        text-align: center;
    }

    .header-wrapper > p > a:link {
        color: white;
        text-decoration: none;
    }
    .header-wrapper > p > a:visited {
        color: white;
        text-decoration: none;
    }
    .header-wrapper > p > a:hover {
        transition: color 0.5s;
        color: white;
        text-decoration: none;
    }
    .header-wrapper > p > a:active {
        color: white;
        text-decoration: none;
    }
}